* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 62.5%;
}

.navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    background-color: #e5e7e9e0;
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.233);
}

.navbar a {
    text-decoration: none;
}

.navbar .logo {
    display: flex;
    align-items: center;
    font-weight: bold;
    color: #333;
    text-decoration: none;
    text-align: center;
}

.navbar .logo .title-principal {
    font-size: 2.5rem;
    text-transform: uppercase;
    color: #322a94;
    font-family: "Audiowide", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.navbar .logo .title-principal span {
    font-size: 2.5rem;
    text-transform: uppercase;
    color: #d39e31;
    font-family: "Audiowide", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.navbar .logo .name-page {
    display: flex;
    flex-direction: column;
}

.navbar .logo .logo-text {
    color: #9d21ad;
    font-family: "Pacifico", cursive;
    font-style: normal;
    font-size: 1.8rem;
    margin-top: -1rem;
    text-align: left;
}

.navbar .nav-links {
    font-size: 4.5rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.navbar .nav-links li {
    list-style: none;
}

.navbar .nav-links a {
    color: #322a94;
    text-decoration: none;
    padding: 1rem 2rem;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
    border-bottom: 0.2rem solid transparent;
}

.navbar .nav-links a:hover {
    border-bottom: 0.2rem solid #d39e31;
    color: #d39e31;
    text-shadow: 0 0 0.1rem currentColor;
}

.navbar .user-actions {
    display: flex;
    gap: 1rem;
    font-size: 3rem;
}

.navbar .user-actions a {
    text-decoration: none;
    border-radius: 0.5rem;
    transition: background-color 0.3s, color 0.3s;
    border: 0.2rem solid #322a94;
    color: #322a94;
}

.navbar .user-actions a:hover {
    background-color: #d39e31;
    color: #fff;
    border: 0.2rem solid #d39e31;
}

.menu-contenedor {
    position: relative;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
}

.menu-boton {
    color: #322a94;
    padding: 1rem 2rem;
    border-radius: 0.4rem;
    transition: background-color 0.3s, color 0.3s;
    outline: none;
    border: none;
    font-size: 1.8rem;
    background-color: transparent;
    border-bottom: 0.2rem solid transparent;
    font-family: Arial, Helvetica, sans-serif;
}

.menu-boton:hover {
    border-bottom: 0.2rem solid #d39e31;
    color: #d39e31;
    text-shadow: 0 0 0.1rem currentColor;
    cursor: pointer;
}

.contenido-desplegable {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 180px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    font-size: 2.5rem;
    border-radius: 0.4rem;
    font-family: Arial, Helvetica, sans-serif;
}

/* Estilo de los Enlaces dentro del Menú */
.contenido-desplegable a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
}

.material-symbols-outlined {
    font-size: 2.5rem;
    vertical-align: middle;
    transform: rotate(-90deg);
}

.contenido-desplegable a:hover {
    background-color: #ddd;
}

.menu-contenedor:hover .contenido-desplegable {
    display: block;
}

.content {
    font-size: 3rem;
    display: flex;
    flex-wrap: wrap;
}
.content h1{
    width: 100%;
    text-transform: uppercase;
    text-align: center;
    font-family: "Boldonse", sans-serif;
    padding: 2rem 1rem;
    color: #322a94;
}
.data-rifa, .data-rifa-talonario{
    flex: 1 0 50%;
    padding: 1rem;
    text-align: center;
}
.data-rifa h2, .data-rifa-talonario h2{
    text-align: center;
    font-size: 3rem;
    color: #322a94;
    padding: 1rem;
}
.numeros-rifa .line-numbers button{
    width: 7rem;
    height: 6rem;
    font-size: 1.8rem;
    font-family: "Boldonse", sans-serif;
    margin: .2rem;
    border: .2rem solid #322a94;
    color: #322a94;
    border-radius: 1rem;
    cursor: pointer;

}
.numeros-rifa .line-numbers button:hover{
    background-color: #322a94;
    color: #ddd;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #e5e7e9;
    padding-bottom: 1rem;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.233);
    gap: 2rem;
}

.footer .footer-info {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
    text-align: center;
    background-color: #161616ea;
    padding: 2rem;
}

.footer .header-footer {
    width: 100%;
    border-bottom: 0.3rem solid #d39d3183;
    padding-bottom: 1rem;
}

.footer .header-footer h1 {
    margin-top: -1rem;
    color: #d39e31;
    font-family: "Audiowide", sans-serif;
    font-weight: 900;
    font-size: 3rem;
}

.footer .header-footer span {
    display: inline-block;
    font-size: 1.8rem;
    color: #9d21ad;
    font-family: pacifico, cursive;
    font-weight: 900;
    margin-top: -1rem;
}

.footer .footer-info .designer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 5rem;
}

.footer .footer-info .designer-info {
    font-size: 2rem;
    color: #322a94;
    font-family: "Boldonse", sans-serif;
    margin-bottom: 0.5rem;
}

.footer .footer-info .designer-info img {
    border-radius: 50%;
    border: 0.2rem solid #d39e31;
}

.footer .footer-info .designer-info p {
    color: #d39e31;
    font-family: pacifico, cursive;
    font-size: 2rem;
    margin-top: -1rem;
}

.footer .footer-info .designer-info h4 {
    color: #d39e31;
    font-family: pacifico, cursive;
    font-size: 2rem;
}

.copyright h4 {
    font-size: 1.5rem;
    color: #efeef3;
    font-family: "Boldonse", sans-serif;
    padding: 1rem;
}

.footer strong {
    color: #322a94;
    font-family: "Audiowide", sans-serif;
    font-weight: 900;
    font-size: 1.7rem;
}

.copyright .derechos-autor {
    font-size: 1.5rem;
    color: #d39e31;
}

.footer p {
    font-size: 2rem;
    color: #464440;
}

.footer .redes {
    display: flex;
    gap: 2rem;
}

.footer .redes img {
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    transition: transform 0.3s;
}

/* Transición general para suavizar todos los efectos */
.redes a img {
    transition: transform 0.3s ease, filter 0.3s ease, box-shadow 0.3s ease;
    border-radius: 50%;
}

/* Primer elemento (Facebook) - Escalar */
.redes a:nth-child(1):hover img {
    transform: scale(1.2);
    box-shadow: 0.2rem 0.2rem 1rem 0.5rem rgb(0, 78, 247);
    border: 0.2rem solid #ffffff;
}

/* Segundo elemento (WhatsApp) - Desplazar hacia arriba */
.redes a:nth-child(2):hover img {
    transform: scale(1.2);
    box-shadow: 0.2rem 0.2rem 1rem 0.5rem rgba(28, 95, 1, 0.829);
}

/* Tercer elemento (X) - Rotar */
.redes a:nth-child(3):hover img {
    transform: scale(1.2);
    box-shadow: 0.2rem 0.2rem 1rem 0.5rem rgba(15, 15, 15, 0.87);
    border: 0.2rem solid #ffffff;
}

/* Cuarto elemento (Instagram) - Opacidad */
.redes a:nth-child(4):hover img {
    transform: scale(1.2);
    box-shadow: 0.2rem 0.2rem 1rem 0.5rem #9d21adcb;
    border: 0.2rem solid #ffffff;
}

/* Quinto elemento (GitHub) - Brillo */
.redes a:nth-child(5):hover img {
    transform: scale(1.2);
    box-shadow: 0.2rem 0.2rem 1rem 0.5rem rgba(19, 19, 19, 0.87);
}

.menu-burguer {
    display: none;
    cursor: pointer;
    font-size: 0;
}


@media (max-width: 600px) {
    .menu-burguer {
        display: block;
        color: #322a94;
        transform: rotate(90deg);
        cursor: pointer;
    }

    .menu-burguer:hover {
        color: #9d21ad;
    }

    .navbar {
        justify-content: space-between;
    }

    .navbar .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        background-color: #d39d31f1;
        top: 8.5rem;
        width: 100%;
        left: 0;
        min-height: calc(100vh - 8rem);
        align-items: center;
        padding-top: 5rem;
    }

    .navbar .nav-links li {
        width: 80%;
        text-align: center;
    }

    .navbar .nav-links li a {
        display: inline-block;
        font-size: 2.5rem;
        width: 100%;

    }

    .navbar .nav-links a:hover {
        color: #9d21ad;
        border-bottom: 0.2rem solid #9d21ad;
    }

    /*.navbar .user-actions {
        display: none;
    }*/

    .menu-boton {
        font-size: 2.5rem;
    }

    .menu-boton:hover {
        border-bottom: 0.2rem solid #9d21ad;
        color: #9d21ad;
        text-shadow: 0 0 0.1rem currentColor;
        cursor: pointer;
    }

    .contenido-desplegable {
        min-width: 25rem;
        background-color: #d39d31d0;
        border: .1rem solid #9d21add0;
    }
}

@media (min-width: 601px) {
    .nav-links {
        display: flex !important;
        /* Fuerza a que el menú siempre sea visible en escritorio */
    }

    .navbar .user-actions {
        display: flex !important;
        /* Fuerza a que las acciones de usuario siempre sean visibles en escritorio */
    }
}
@media (max-width: 700px) {
    .content {
        flex-direction: column;
    }
}